.recommenders/
.metadata/
00-common/bin/
01-luhn-java/bin/
02-luhn-groovy/bin/
04-luhn-scala/bin/
03-luhn-javascript/node_modules/
05-luhn-frege/bin/
06-luhn-java-8/bin/
07-luhn-functional-java-8/bin/
RemoteSystemsTempFiles/
